h1 {
    color: red;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
ol li {
    font-weight: bold;
    list-style: upper-roman;
    color: white;
}
ul li {
    list-style: georgian;
    color: white;
}
body { /* This will help with the body */
    background-image: url(../pictures/sunset-2.png); /*These help a lot with background image*/
    background-size: cover;
}
.container {
    width: 80%;
    background-color: lightgray;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* These help to move the div to where you want it */
.hero {
    display: flex;
    justify-content: flex-end;
}
.hero img {
    width :200px;
}
.action {
    width: 50%;
    background-color: green;
}